<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>HeartToNerve</display-name>
  <servlet>
    <servlet-name>music</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>music</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>image</display-name>
    <servlet-name>image</servlet-name>
    <jsp-file>/WEB-INF/view/image.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>image</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
</web-app>
